@tailwind base;

:root {
    --primary: rgba(255, 255, 255, 0.50);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 14px;
}

.grid-mask {
    mask-image: radial-gradient(58.44% 58.44% at 50% 51.83%, rgba(122, 122, 122, 0.2) 0%, rgba(122, 122, 122, 0) 100%);
    -webkit-mask-image: radial-gradient(58.44% 58.44% at 50% 51.83%, rgba(122, 122, 122, 0.2) 0%, rgba(122, 122, 122, 0) 100%);
}

@tailwind components;
@tailwind utilities;